{% extends 'base.html'%}
<!-- {% import 'macros.html' as macro%} -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content%}
<header class="masthead" style="background-image: url(../static/photos/headerbck1.jpg); margin-top: 40px;" >
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <span class="subheading"><i class="fas fa-quote-left"></i> <em>{{quote.quote}}</em> <i class="fas fa-quote-right"></i></span>
          <h2>{{quote.author}}</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Posts -->
<div class="row">
  <div class="col-md-8 ">
      {% for blog in posts.items %}
          <div class="container bg mb-2">
              <hr>
              <div class="row ">
                  <div class="col-md-2 ">
                          
                          <p id="usern"><a href="{{url_for('main.user_posts',username = blog.user.username)}}"><span  style="color: blue"><strong>{{blog.user.username | title}}</strong></span> </a> </p> 
                  </div>
                  <div class="col-md-10 pr-4 d-justify userblog">
                      <p>Posted on : {{blog.time_posted.strftime('%d-%m-%Y')}}</p>
                      <h4><a href="{{url_for('main.blog',id = blog.id)}}">{{blog.title | upper}}</a></h4>
                      <p>{{blog.content}}</p>
                      <p> <a class="btn btn-sm btn-info" href="{{url_for('main.blog',id = blog.id)}}" > Comment</a> {{blog.comment.count()}} Comments</p>
                      
                  </div>
              </div> 
              <hr>
          </div>
             
      {% endfor %}

      {% for page_num in posts.iter_pages(left_edge = 1, right_edge = 1, left_current=1, right_current = 2) %}
          {% if page_num %}
              {% if posts.page == page_num %}
                  <a href="{{url_for('main.index',page = page_num)}}" class="btn btn-sm btn-info mb-2">{{ page_num }}</a>
              {% else%}
              <a href="{{url_for('main.index',page = page_num)}}" class="btn btn-sm btn-outline-info mb-2">{{ page_num }}</a>
              {% endif %}
          {% else%}
              ...
          {% endif %}
      {% endfor %}  

  </div>
  <!-- <div class="col-md-4">
      
  </div> -->
</div>
</div>
</div>
{% endblock %}