<!-- <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
              <div class="md-form form-group">
                  <label class="white-color">Email Address...</label>
                  <input type="email"  class="form-control " name ="subscriber" required>
              </div>
              <div class="md-form form-group">
                  <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
              </div>
          </form> -->
          <!-- <div class="col-md-5" id="user">
          {% if current_user %}
          <h3 class="text-center">You have {{user.post.count()}} posts</h3>
          {% for i in posts%}
          <div class="posts">
              <h5>Title: {{i.title}}</h5>
              <h6>{{i.post}}</h6>
              <p>{{i.comment.count()}} Comments</p>
          </div>
           
          {%endfor%}
           {%else%}
          <h3>You have ) posts</h3> -->
          <!-- {%endif%} -->